@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(179, 73, 189);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
}

main{
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.432);
    transition: width .3s, height .3s;
    transition-timing-function: ease;
}

section{
    text-align: center;
    vertical-align: top;
}

#bg{
    background-image: url(../imagens/wallpaper.jpeg);
}

.formdiv{
    text-align: center;
    vertical-align: center;
    border-radius: 5px;
    background-color: rgb(150, 23, 150);
    overflow: hidden;
}

.formdiv > i{
    display: inline-block;
    position: relative;
    top: 5px;
    color: white;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.473);
}

#user{
    border-radius: 5px;
}

#pass{
    border-radius: 5px;
}

.botoes{
    border: 1px solid rgb(70, 218, 169);
    border-radius: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-shadow: 2px 1px 3px rgba(0, 0, 0, 0.459);
}

#entrar{
    background-color: rgb(70, 218, 169);
    color: white;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.342);
}

#esqueci{
    color: rgb(19, 85, 63);
}

@media screen and (min-width: 700px){

    body{
        background-image: linear-gradient(to top, cyan, purple);
    }

    main{
        width: 75vw;
        margin: auto;
        margin-top: 30vh;
        height: 250px;
    }

    section{
        display: inline-block;
    }

    #bg{
        background-size: cover;
        width: 35%;
        height: 100%;
    }

    #menu{
        width: 64%;
        height: 100%;
    }

    #menu > h2{
        padding-top: 20px;
        font-size: 30px;
    }

    .formdiv{
        width: 80%;
        height: 40px;
        margin: auto;
        margin-bottom: 5px;
        margin-top: 2px;
    }

    .formdiv > i{
        width: 9.5%;
        height: 30px;
    }

    #user{
        width: 89%;
        height: 34px;
        margin-top: 1px;
        font-size: 20px;
    }

    #pass{
        width: 89%;
        height: 34px;
        margin-top: 1px;
        font-size: 20px;
    }
    
    #entrar{
        width: 40%;
        height: 40px;
    }

    #esqueci{
        width: 40%;
        height: 40px;
    }
}